<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о работах</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li><br>
        <li class="nav-item"><a href="index/info" class="nav-link">Узнать статус работ</a></li><br>
        <li class="nav-item"><a href="index/AllInfoAdmin" class="nav-link">Для сотрудников</a></li><br>
        <li class="nav-item"><a href="index/contacts" class="nav-link">Контакты</a></li><br>
        <li class="nav-item"><a href="index/add">Подать заявку</a></li>
        <li class="nav-item">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Выйти"/>
            </form>
        </li>
    </ul>
</header>
<div class="container mt-5">
    <div th:each="el : ${findcar}" class="alert alert-info mt-2">
        <h1>Статус работ с вашим автомобилем:</h1><br>
        <p>Автомобиль: </p>
        <p th:text="${el.carModel}"/>
        <p>Повреждение: </p>
        <p th:text="${el.damages}"/>
        <p>Оказанная услуга: </p>
        <p th:text="${el.service}"/>
        <p>Статус работ: </p>
        <p th:text="${el.resultsOfWork}"/>
    </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2005–2021 ПроСервис</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>
</body>
</html>